html,body {
    height: 100%;
    background-color: #fff;
    color: #636363;
    font-family: Poppins;
}

.jumbotron {
    height: 100%;
}

footer {
    background-color: #18293D;
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.2);
}

#footer-follow {
    font-size: 14px;
}

footer a {
    color: rgba(116,160,171, 0.6);
}

footer a:hover {
    color: rgba(116,160,171, 1);
    text-decoration: none;
}

.navbar {
    height: 100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-dark .navbar-nav .nav-link, .navbar-light {
    color: #fff;   
}

.nav-item {
    margin-left: 40px;
}

.active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.active-darkblue {
    border-bottom: 1px solid #18293D;
    transition: all 1s ease;
}

.navbar-scrolling{
    background-color: #fff;
    height: 56px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.jumbotron {
    background-image: url("../images/background_bezoeker_normal.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-darkblue {
    color: #18293D !important;
    transition: all 1s ease;
}

a.text-darkblue:hover, a.text-darkblue:focus {
    color: rgb(53, 86, 126) !important;
    transition: all 0s ease-in-out;
}

.login-button-darkblue {
    background-color: transparent;
    color: #18293D;
    border-color: #18293D;
    transition: all 1s ease;
}

.login-button-darkblue:hover {
    border-color: #18293D;
    background-color: rgba(75, 122, 180, 0.2);
    transition: all 0.5s ease;
}

.btn-outline-light {
    border-color: #03CC80;
    color: #03CC80;
}

.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #03CC80;
    border-color: #03CC80;
    transition: all 0.5s ease;
}

#parallelogram {
    width: 200px;
    height: 5px;
    background-color: #03CC80;
}

#background-text {
    z-index: 999 !important;
}