html,body {
    height: 100%;
    background-color: #fff;
    color: #636363;
}

main {
    min-height: calc(100% - 70px - 73px);
}

footer {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 9px;
}

#menu-footer {
    font-size: 11px;
    font-weight: normal;
    color: #97A4AD;
    bottom: 9px;
    width: 250px;
}

#menu-footer p {
    margin: 0;
}

#content {
    overflow-y: scroll;
    width: calc(100% - 250px);
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}

h1 {

}

h2 {
    font-size: 25px;
    font-weight: normal;
    color: #636363;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
    background-color: #20344D;
    width: 250px;
    transition: all 0.2s ease-in-out;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
    color: #97A4AD;
    font-weight: lighter;
}

.sidebar .nav-link:hover {
    border-radius: 0;
    color: #fff;
    background-color: #18293D;
    font-weight: normal;
}

.nav-link1 {
    display: block;
    padding: 0.2rem 1rem;
    font-size: 14px;
    border-radius: 0;
    color: #fff;
    font-weight: lighter;
}

.nav-link1:hover, .nav-link1:focus {
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    background-color: #18293D;
    font-weight: normal;
}

.nav-link1.disabled {
    color: #6c757d;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #18293D;
    color: #fff;
    font-weight: normal;
}

#logo {
    height: 70px;
    background-color: #18293D;
    color: #fff;
}

#top-bar {
    height: 70px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#logo-titel {
    font-size: 22px;
    font-weight: 500;
    margin-top: -5px;
}

#account-foto {
    height: 225px;
}

.img-circle {
    border-radius: 50%;
}

#avatar {
    width: 125px;
}

.shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.kleur {
    box-shadow: 0px -1px #33455B;
    background-color: #18293D;
    z-index: 999;
}

.kleur-weg {
    background-color: #20344D;
}

#melding-menu {
    background-color: #E5343D;
    color: #fff;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#melding-menu-2 {
    visibility: hidden;
}

.material-icons.md-18 {
    font-size: 18px;
}

#top-bar .material-icons {
    display: none;
}

#sidenav-toggler {
    cursor: pointer;
}

#logo-titel-mobile {
    display: none !important;
}

.button-blue {
    background-color: #20344D;
    color: #fff;
}

.button-blue:hover {
    background-color: #18293D;
    color: #fff;
}

.button-blue:focus, .button-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 52, 77, 0.5);
}

.fc-unthemed td.fc-today {
    background: rgba(0, 100, 255, 0.05) !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}

.fc-state-default {
  background-color: #fff !important;
  background-image: none !important;
  border-color: #ddd !important;
  color: #636363 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.fc-state-hover {
  color: #636363 !important;
  background-color: #E9ECEF !important;
}

.fc table {
  width: 100%;
  box-sizing: border-box;
  /* fix scrollbar issue in firefox */
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0.5rem !important;
  font-size: 1em;
  /* normalize cross-browser */ }

@media only screen and (max-width: 1200px) {
    #top-bar .material-icons {
        display: block;
    }
}

/*popup venster (wedstrijden)*/
.popup-background{
  position: absolute;
  background-color: rgba(173,184,191, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  /* display: none; */
}
.popup-dialog{
  position: absolute;
  background-color: white;
  min-width: 900px;
  width: auto;
  height: 60%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%); /* Standard syntax */
  z-index: 99999;
  /* display: none; */
}
.popup-header{
  height: 10%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(173,184,191, 0.5);;
}
.popup-header .popup-title{
  text-align: center;
  padding: 10px 0;
}
.popup-header .close{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.popup-content{
  width: 100%;
  height: 75%;
  padding: 30px;
}
.popup-footer{
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  border-top: 1px solid rgba(173,184,191, 0.5);
  padding: 30px;
}

/* PAGINA wedstrijden_aannpassen*/
#form-wedstrijd table tr td{
  padding: 0 10px;
}
#form-wedstrijd table tr td[rowspan] {
    vertical-align: top;
}
#form-wedstrijd input{
  display: inline;
  margin: 10px 0 20px 0;
  /* border: 1px solid black; */
}
#form-wedstrijd label{
  display: block;
  margin: 0;
}
#form-wedstrijd .form-left{
  height: 100%;
  width: 50%;
  display: inline;
}
#form-wedstrijd .form-right{
  height: 100%;
  width: 50%;
  display: inline;
}
/* EIND PAGINA wedstrijden_aannpassen*/
