html,body {
    height: 100%;
    background-color: #fff;
    color: #636363;
}

main {
    min-height: calc(100% - 70px - 74px);
    display: flex;
}

footer {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 9px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
#menu-footer {
    font-size: 11px;
    font-weight: normal;
    color: #97A4AD;
    bottom: 10px;
    width: 250px;
    margin-top: 30px;
}

#menu-footer p {
    margin: 0;
}

#content {
    overflow-y: auto;
    width: calc(100% - 250px);
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}

h2 {
    font-size: 25px;
    font-weight: normal;
    color: #636363;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
    background-color: #20344D;
    width: 250px;
    transition: all 0.2s ease-in-out;
}

.scroll-menu {
    overflow-y: auto !important;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
    color: #97A4AD;
    font-weight: lighter;
}

.sidebar .nav-link:hover {
    border-radius: 0;
    color: #fff;
    background-color: #18293D;
    font-weight: normal;
}

.nav-link1 {
    display: block;
    padding: 0.2rem 1rem;
    font-size: 14px;
    border-radius: 0;
    color: #fff;
    font-weight: lighter;
}

.nav-link1:hover, .nav-link1:focus {
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    background-color: #18293D;
    font-weight: normal;
}

.nav-link1.disabled {
    color: #6c757d;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #18293D;
    color: #fff;
    font-weight: normal;
}

#logo {
    height: 70px;
    background-color: #18293D;
    color: #fff;
}

#top-bar {
    height: 70px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#logo-titel {
    font-size: 22px;
    font-weight: 500;
    margin-top: -5px;
}

#account-foto {
    height: 225px;
}

.img-circle {
    border-radius: 50%;
}

#avatar {
    width: 125px;
}

.shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.kleur {
    box-shadow: 0px -1px #33455B;
    background-color: #18293D;
    z-index: 999;
}

.kleur-weg {
    background-color: #20344D;
}

#melding-menu {
    background-color: #E5343D;
    color: #fff;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#melding-menu-2 {
    visibility: hidden;
}

.material-icons.md-18 {
    font-size: 18px;
}

#top-bar .material-icons {
    display: none;
}

#sidenav-toggler {
    cursor: pointer;
}

#logo-titel-mobile {
    display: none !important;
}

.button-blue {
    background-color: #20344D;
    color: #fff;
}

.button-blue:hover {
    background-color: #18293D;
    color: #fff;
}

.button-blue:focus, .button-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 52, 77, 0.5);
}

/* PAGINA agenda */
.fc-unthemed td.fc-today {
    background: rgba(0, 100, 255, 0.05) !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}

.fc-state-default {
  background-color: #fff !important;
  background-image: none !important;
  border-color: #ddd !important;
  color: #636363 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.fc-state-hover {
  color: #636363 !important;
  background-color: #E9ECEF !important;
}

.fc table {
  width: 100%;
  box-sizing: border-box;
  /* fix scrollbar issue in firefox */
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0.5rem !important;
  font-size: 1em;
  /* normalize cross-browser */ }

@media only screen and (max-width: 1200px) {
    #top-bar .material-icons {
        display: block;
    }
}

.list-group {
    margin-top: 22px;
}

.list-group .active {
    background-color: #20344D;
    border-color: #18293D;
}

.datepicker-dropdown.datepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-bottom:after,
.datepicker-dropdown.datepicker-orient-top:before,
.datepicker-dropdown.datepicker-orient-top:after {
    display: none;
}

#singleScreenOverlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 9000;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#singleScreenOverlay .arrow {
    height: 100px;
    position: absolute;
}


/* EIND PAGINA agenda*/

/* PAGINA wedstrijden_aannpassen*/
#form-wedstrijd table{
  width: 100%;
}
#form-wedstrijd table tr td{
  padding: 0 10px;
}
#form-wedstrijd table tr td[rowspan] {
    vertical-align: top;
}
#form-wedstrijd input, #form-wedstrijd select{
  display: inline;
  margin: 10px 0 20px 0;
  /* border: 1px solid black; */
}
#form-wedstrijd .fout{
  margin-bottom: 20px;
  color: red;
}
label.fout{
  display: none;
}
#form-wedstrijd label{
  display: block;
  margin: 0;
}
#form-wedstrijd .form-left{
  height: 100%;
  width: 50%;
  display: inline;
}
#form-wedstrijd .form-right{
  height: 100%;
  width: 50%;
  display: inline;
}
#wedstrijd{
  width: 100%;
}
/* EIND PAGINA wedstrijden_aannpassen*/
